<!--continue 22 11 2021-->
<div class="mat-elevation-z4">
    <table mat-table [dataSource]="dataSource" class="font-size-rows">

        <!--ClienteID Column-->
        <ng-container matColumnDef="clienteID">
            <th mat-header-cell *matHeaderCellDef>ClienteID</th>
            <td mat-cell *matCellDef="let element" class="font-size-rows">{{element.clienteID}}</td>
        </ng-container>

        <!--Nombre del Cliente-->
        <ng-container matColumnDef="nombreCliente">
            <th mat-header-cell *matHeaderCellDef>Nombre Cliente</th>
            <td mat-cell *matCellDef="let element" class="font-size-rows">{{element.nombreCliente}}</td>
        </ng-container>

        <!--Contacto-->
        <ng-container matColumnDef="contacto">
            <th mat-header-cell *matHeaderCellDef>Contacto</th>
            <td mat-cell *matCellDef="let element" class="font-size-rows">{{element.contacto}}</td>
        </ng-container>

        <!--Nombre Identificación-->
        <ng-container matColumnDef="nombreIdentificacion">
            <th mat-header-cell *matHeaderCellDef>Identificación</th>
            <td mat-cell *matCellDef="let element" class="font-size-rows">{{element.nombreIdentificacion}}</td>
        </ng-container>

        <!--Comentario Lider-->
        <ng-container matColumnDef="comentarioLider">
            <th mat-header-cell *matHeaderCellDef>Comentario Lider</th>
            <td mat-cell *matCellDef="let element" class="font-size-rows">{{element.comentarioLider}}</td>
        </ng-container>

        <!--Fecha Creación-->
        <ng-container matColumnDef="fechaCreacion">
            <th mat-header-cell *matHeaderCellDef>Fecha</th>
            <td mat-cell *matCellDef="let element" class="font-size-rows">{{element.fechaCreacion}}</td>
        </ng-container>

        <!--Nombre del Líder-->
        <ng-container matColumnDef="nombreLider">
            <th mat-header-cell *matHeaderCellDef>Nombre del lider</th>
            <td mat-cell *matCellDef="let element" class="font-size-rows">{{element.nombreLider}}</td>
        </ng-container>

        <!--Nombre del Vendedor-->
        <ng-container matColumnDef="nombreVendedor">
            <th mat-header-cell *matHeaderCellDef>Nombre del Vendedor</th>
            <td mat-cell *matCellDef="let element" class="font-size-rows">{{element.nombreVendedor}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row;  columns: displayedColumns;"></tr>

    </table>
    <mat-paginator style="box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>