<mat-toolbar color="primary">
    <h4 mat-dialog-title>{{titulo}}</h4>
    <span class="fill-remaining-space"></span>
    <div class="spacer"></div>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>

<mat-card>
    <mat-card-content>
        <!-- This is where you need to add your login form -->
    </mat-card-content>
    <form [formGroup]="tipoIdentificacionForm">

        <!--<input formControlName="bancoID" disabled>-->
        <mat-form-field appearance="standard">
            <mat-label>Tipo Identificacion ID</mat-label>
            <input matInput readonly formControlName="tipoIdentificacionID">
        </mat-form-field>

        <mat-form-field appearance="standard">
            <mat-label>Nombre Identificacion</mat-label>
            <!--<input matInput [(ngModel)]="data.nombre">-->
            <input matInput formControlName="nombreIdentificacion">
            <mat-error *ngIf="tipoIdentificacionForm.get('nombreIdentificacion').hasError('required')">
                Debe de escribir el tipo de identificación
            </mat-error>
        </mat-form-field>

        <!-- activo -->
        <div class="add-bottom-padding">
            <!--<mat-checkbox [(ngModel)]="data.activo" >Activo</mat-checkbox>--->
            <mat-slide-toggle color="primary" formControlName="activo" (click)="validarStatuActivo()">Activo</mat-slide-toggle>
            <!--<mat-error>Invalid email address.</mat-error>-->
        </div>
    </form>
    <mat-card-actions>
        <div mat-dialog-actions>

            <button mat-raised-button color="primary" (click)="onGuardar()">{{textBotonGuardar}}</button>
            <button mat-raised-button color="warn" (click)="onClose()">Cancelar</button>
        </div>
    </mat-card-actions>

</mat-card>