/*.container {
  margin: 0.625rem;
  padding: 0.938rem
}*/


table {
  width: 100%;
}

.mat-header-cell {
  font-size: 15px;
  font-weight: bolder;
}


.spacer {
  flex: 1 1 auto;
}

.fila{
  background-color: yellow;
}

.color-fondo {
  background-color:#e9e6e6;
}
