  
.container1 {
    margin: 0.625rem;
    padding: 0.938rem
  }

  .flex-container{  
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }

    
  table {
    width: 100%;
  }
  
  .mat-header-cell {
    font-size: 13px;
    font-weight: bolder;
  }
  
 
  
  .color-fondo {
  background-color:#e9e6e6;
  }


  .example-card {
    max-width: 400px;
  }


  .font-size-rows {
    font-size: 12px;
  }