		<!--wrapper start-->
		<div class="wrapper">
		  <!--header menu start-->
		  <div class="header">
		    <div class="header-menu">
		      <div class="title">QANet <span>Web</span></div>
		      <div class="sidebar-btn">
		        <i class="fas fa-bars"></i>
		      </div>
		      <ul>
		        <li><a href="#"><i class="fas fa-power-off"></i></a></li>
		      </ul>
		    </div>
		  </div>
		  <!--header menu end-->
		  <!--sidebar start-->
		  <div class="sidebar">

        <div id="header">
          <ul class="nav">
              <li><a href="">Inicio</a></li>
              <li><a href="">Servicios</a>
                  <ul>
                      <li><a href="">Submenu1</a></li>
                      <li><a href="">Submenu2</a></li>
                      <li><a href="">Submenu3</a></li>
                      <li><a href="">Submenu4</a>
                          <ul>
                              <li><a href="">Submenu1</a></li>
                              <li><a href="">Submenu2</a></li>
                              <li><a href="">Submenu3</a></li>
                              <li><a href="">Submenu4</a></li>
                          </ul>
                      </li>
                  </ul>
              </li>
              <li><a href="">Acerca de</a>
                  <ul>
                      <li><a href="">Submenu1</a></li>
                      <li><a href="">Submenu2</a></li>
                      <li><a href="">Submenu3</a></li>
                      <li><a href="">Submenu4</a></li>
                  </ul>
              </li>
              <li><a href="">Contacto</a></li>
          </ul>
      </div>



        <!--
        <div class="menu">
          <li class="item" id='profile'>
            <a href="#profile" class="btn"><i class="far fa-user"></i>Profile</a>
            <div class="smenu">
              <a href="#">Posts</a>
              <a href="#">Picture</a>
            </div>
          </li>
  
          <li class="item" id="messages">
            <a href="#messages" class="btn"><i class="far fa-envelope"></i>Messages</a>
            <div class="smenu">
              <a href="#">new</a>
              <a href="#">Sent</a>
              <a href="#">Spam</a>
            </div>
          </li>
  
          <li class="item" id="settings">
            <a href="#settings" class="btn"><i class="fas fa-cog"></i>Settings</a>
            <div class="smenu">
              <a href="#">Password</a>
              <a href="#">Language</a>
            </div>
          </li>
  
          <li class="item">
            <a class="btn" href="#"><i class="fas fa-sign-out-alt"></i>Logout</a>
          </li>
        </div>

      -->
      </div>
      



		  <!--sidebar end-->
		  <!--main container start-->
		  <div class="main-container">
		    <router-outlet></router-outlet>
		    <div class="card">
	
		    </div>


		  </div>
		  <!--main container end-->
		</div>
		<!--wrapper end-->
